.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  background-color: $secondary;
  h1 {
    font-size: clamp(2rem, 8vw, 9rem);
    font-family: $font-base;
    font-weight: normal;
    color: $primary;
    background-color: transparent;
    margin-left: 2%;
  }
}